{% extends 'layout.html' %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
<div class="content-section">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            <div class="form-group">
                {{ form.email.label(for="email-1") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid", id="email-1") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg", id="email-1") }} 
                {% endif%}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-warning btn-lg mt-3") }}
        </div>
    </form>
</div>
{% endblock content %}