{% extends "layout.html" %}
{% block title %}Reset Password{% endblock title %}
{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <div class="form-group">
                    {{ form.password.label(for="password") }}

                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid", id="password") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg",id="password") }}
                    {% endif%}
                                        
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(for="confirm_password") }}

                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid", id="confirm_password") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg", id="confirm_password") }} 
                    {% endif%}
                                      
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-warning btn-lg mt-3") }}
            </div>
        </form>
    </div>
{% endblock content %}

